.researchbar-container{
  display: flex;
  overflow-x: scroll;
  height: 8vh;
  width: calc(100vw - 100px - 20vw);
  background-color: white;
}

.researchbar-elements{
  margin: 5px;
  padding: 5px 10px;
  border-radius: 7px;
  font-size:small;
  font-weight: bold;
}

.researchbar-elements:hover{
  cursor: pointer;
  background-color: lightcyan;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dark-mode{
  background: #121212 ;
  /* background-color: #383b43; */
  color: #e4e2e3;
  border-color: #E0E0E0 ;
}
.dark-hover:hover{
  background-color: #383b43 ;
}








/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}