.search-list-container{
  top: 7vh;
  width: 40vw;
  margin-top: 5px;
  padding: 10px 0px;
  border-radius: 10px;
  position: absolute;
  background-color: lightcyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search-element {
  margin: 0px;
  padding: 5px 10px;
}
.search-element:hover{
  cursor: pointer;
  background-color: cyan;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}