.upload-video:hover{
  cursor: pointer;
  background-color: lightcyan;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.upload-video:active{
  background-color: cyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.go-live:hover{
  cursor: pointer;
  background-color: lightcyan;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.go-live:active{
  background-color: cyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.create-post:hover{
  cursor: pointer;
  background-color: lightcyan;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.create-post:active{
  background-color: cyan;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}