.button-container{
  display: flex;
  justify-content: center;
  margin: 2px 10px;
}

.button{
  display: flex;
  align-items: center;
  border: none;
  background-color: lightcyan;
  padding: 10px 11px;
  border-radius: 50%;
}
.button:hover{
  background-color: cyan;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.button:active{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.offcanvas-start{
  width: 10vw;
}