.channel-head{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
.channel-logo{
  width: 100px;
  height: 100px;
  border: 5px solid rgba(128, 0, 128, 0.761);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin: 10px;
}
.channel-text{
  font-size: 70px;
}
.channel-edit-btn{
  position: absolute;
  top: calc(8vh + 20px);
  right: 20px;
  background-color: cyan;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.channel-upload-btn{
  position: absolute;
  top: calc(8vh + 80px);
  right: 20px;
  background-color: cyan;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.channel-edit-btn:active,.channel-upload-btn:active{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.upload-video-btn{
  position:fixed;
  top: 0px;
  left: 0px;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.313);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}